@font-face {
  font-family: "iconfont"; /* Project id 3284493 */
  src: url('iconfont.woff2?t=1708578260510') format('woff2'),
       url('iconfont.woff?t=1708578260510') format('woff'),
       url('iconfont.ttf?t=1708578260510') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-yipaidan2:before {
  content: "\e61d";
}

.icon-shuangxianzuojiantou:before {
  content: "\e62e";
}

.icon-daohang1:before {
  content: "\e640";
}

.icon-meiyuan:before {
  content: "\e892";
}

.icon-pingtai07:before {
  content: "\e675";
}

.icon-solid-time:before {
  content: "\e63b";
}

.icon-icon-msg:before {
  content: "\e616";
}

.icon-goods-collect:before {
  content: "\e8b9";
}

.icon-dianhua:before {
  content: "\e7b5";
}

.icon-w_jinbi:before {
  content: "\e670";
}

.icon-swap-right:before {
  content: "\e8f1";
}

.icon-check:before {
  content: "\e63e";
}

.icon-jinzhide:before {
  content: "\e6bd";
}

.icon-loading2:before {
  content: "\e62d";
}

.icon-chongdianzhuang:before {
  content: "\e653";
}

.icon-unlock:before {
  content: "\e682";
}

.icon-dengguangyaokongqi:before {
  content: "\e625";
}

.icon-vehicleSearch:before {
  content: "\e61c";
}

.icon-ditu:before {
  content: "\e62b";
}

.icon-identity:before {
  content: "\e65d";
}

.icon-device:before {
  content: "\e61f";
}

.icon-ico_doc_chart_trend:before {
  content: "\e61a";
}

.icon-loading1:before {
  content: "\e628";
}

.icon-open:before {
  content: "\e60d";
}

.icon-lock:before {
  content: "\e629";
}

.icon-fengshan:before {
  content: "\e60f";
}

.icon-bao3:before {
  content: "\e658";
}

.icon-close:before {
  content: "\e6dc";
}

.icon-a-gou2x:before {
  content: "\e672";
}

.icon-qrcode:before {
  content: "\e76e";
}

.icon-setting:before {
  content: "\e785";
}

.icon-check-:before {
  content: "\e837";
}

.icon-fenxiang:before {
  content: "\e602";
}

.icon-order:before {
  content: "\e60b";
}

.icon-wuliu:before {
  content: "\e64a";
}

.icon-edit:before {
  content: "\e66e";
}

.icon-message:before {
  content: "\e617";
}

.icon-list-start:before {
  content: "\e69c";
}

.icon-clock:before {
  content: "\e62a";
}

.icon-qr-scan-2-line:before {
  content: "\e6b4";
}

.icon-ai06:before {
  content: "\e677";
}

.icon-zantinganniu:before {
  content: "\e61b";
}

.icon-photograph:before {
  content: "\e631";
}

.icon-loading:before {
  content: "\e6ca";
}

.icon-icon-question:before {
  content: "\e66b";
}

.icon-dingwei:before {
  content: "\e900";
}

.icon-closefill:before {
  content: "\e6a6";
}

.icon-close1:before {
  content: "\e6a7";
}

.icon-youhuiquan1:before {
  content: "\e66d";
}

.icon-weixin1:before {
  content: "\e620";
}

.icon-shouji:before {
  content: "\e632";
}

.icon-weizhi:before {
  content: "\e615";
}

.icon-icon-:before {
  content: "\e60a";
}

.icon-qiandao:before {
  content: "\e820";
}

.icon-kulian:before {
  content: "\e627";
}

.icon-rili:before {
  content: "\e8cf";
}

.icon-changyonggoupiaorenshanchu:before {
  content: "\e645";
}

.icon-gengduo:before {
  content: "\e63d";
}

.icon-notice:before {
  content: "\e6a9";
}

.icon-anzhuo:before {
  content: "\e605";
}

.icon-pingguo:before {
  content: "\e612";
}

.icon-siji-:before {
  content: "\e604";
}

.icon-tianjia:before {
  content: "\e60e";
}

.icon-jinbi:before {
  content: "\e60c";
}

.icon-zhankai:before {
  content: "\e633";
}

.icon-shouqi:before {
  content: "\e634";
}

.icon-shenglvehao:before {
  content: "\e708";
}

.icon-youhuiquan:before {
  content: "\e611";
}

.icon-youhuiquan1-mianxing:before {
  content: "\ea56";
}

.icon-star-full:before {
  content: "\e9a1";
}

.icon-zhifubao:before {
  content: "\e607";
}

.icon-a-28Cdianji:before {
  content: "\e68d";
}

.icon-shizhongfill:before {
  content: "\e74e";
}

.icon-shandian-shi:before {
  content: "\e65c";
}

.icon-jianpan:before {
  content: "\e618";
}

.icon-bibijiaoyi:before {
  content: "\e630";
}

.icon-weixin:before {
  content: "\e662";
}

.icon-fapiaotaitou:before {
  content: "\e671";
}

.icon-biaoqian:before {
  content: "\e610";
}

.icon-xinxi:before {
  content: "\e914";
}

.icon-scan:before {
  content: "\e62c";
}

.icon-xing:before {
  content: "\e6ce";
}

.icon-qiehuan:before {
  content: "\eb09";
}

.icon-shaixuan:before {
  content: "\e621";
}

.icon-xingxing:before {
  content: "\e642";
}

.icon-sanjiao:before {
  content: "\e65a";
}

.icon-quan:before {
  content: "\e603";
}

.icon-more:before {
  content: "\eb87";
}

.icon-arrow-right-bold:before {
  content: "\e687";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-down:before {
  content: "\e8f2";
}

.icon-down2:before {
  content: "\eb90";
}

.icon-jisuanqi:before {
  content: "\eb18";
}

.icon-search:before {
  content: "\e699";
}

.icon-jia:before {
  content: "\e600";
}

.icon-jian:before {
  content: "\e601";
}

.icon-xiajiang:before {
  content: "\e606";
}

.icon-shangsheng:before {
  content: "\e609";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-eye-close:before {
  content: "\e8ff";
}

.icon-smile:before {
  content: "\e614";
}

.icon-copy:before {
  content: "\e619";
}

.icon-phone:before {
  content: "\e608";
}

.icon-daohang:before {
  content: "\e797";
}

.icon-right:before {
  content: "\e613";
}

