:root,
page {
  width: 100vw;
  height: 100vh;
 
  --wot-color-theme: #fe9739;
  font-size: 32rpx;
  font-weight: 600 !important;
}

.safe {
  padding-bottom: constant(safe-area-inset-bottom); /*兼容 IOS<11.2*/
  padding-bottom: env(safe-area-inset-bottom); /*兼容 IOS>11.2*/
}
